[2016-04-06 14:20] edoardoc opened #1 "doesn't work on yosemite"
I am still on yosemite

![screen shot 2016-04-06 at 17 18 58](https://cloud.githubusercontent.com/assets/368717/14319910/b6aaefd2-fc1b-11e5-9dd1-c0c7f43669b8.png)

[2016-04-06 14:47] scottperezfox commented on #1
+1 — Considering it's only one release back, and essentially the same, I'd really like to see a version that works on Yosemite.

[2016-04-14 23:03] quver commented on #1
This causes a bit mess in one class with fonts but it is possible. I try to prepare PR tomorrow.

[2016-05-18 06:15] marcuspoehls opened #5 "Shortcuts"
Honestly, the timer app is great! Thanks for putting in the work Michael!

Do you have any plans or think it might be useful to add "time adjustment shortcuts" like just typing a number and the timer automatically sets its minutes?

[2016-05-18 06:20] michaelvillar commented on #5
No big plan of the sort. Any specific use case?

[2016-05-18 06:24] marcuspoehls commented on #5
I’m usually using the same time period all day to focus my work and would love to have a faster way to set the time by just typing like "25" instead of dragging the little triangle to "25".

Or a "reset" functionality to the default time would help as well.

[2016-05-18 06:33] michaelvillar commented on #1
Anyone wants to try this build that should work on Yosemite?
[Timer.app.zip](https://github.com/michaelvillar/timer-app/files/269756/Timer.app.zip)

[2016-05-18 07:11] michaelvillar commented on #5
[edit]

Ok just did something about it: https://github.com/michaelvillar/timer-app/releases/tag/1.1.0

[2016-05-18 07:12] michaelvillar commented on #1
Actually, just published 1.1.0
https://github.com/michaelvillar/timer-app/releases/tag/1.1.0

[2016-05-18 07:23] marcuspoehls commented on #5
This is awesome!

Thanks so much for listening to this request and the fast implementation! ❤️
Hope this feature is benefitial for others, too. Fits exactly my use case 👍

[2016-05-18 07:24] michaelvillar commented on #5
Woot!

[2016-05-18 07:24] #5 closed

[2016-05-18 07:25] #1 closed

[2016-10-24 22:24] sifex opened #7 "[Feature Request] Always on Top"
Love to see this, if I have time (cough) after uni semester, I'll give it a crack.

[2016-12-28 08:09] michaelvillar commented on #7
Thanks @vincentpun!

[2016-12-28 08:09] #7 closed

[2016-12-28 10:18] sifex commented on #7
Amazing, thank you @vincentpun

[2016-12-28 17:15] vincentpun commented on #7
My pleasure :)

[2017-01-12 22:39] bensleveritt opened #10 "Distribute by homebrew"
Great app. Would love to see a homebrew cask install option, that'd be cool.

Might even get round to it myself.

[2017-01-13 08:43] michaelvillar commented on #10
Feel free :)

[2017-01-27 15:26] pasqualesalza commented on #10
Hi,
I just submitted the cask to the repository. You'll find it with the name: michaelvillar-timer..

Thank you for your effort!

[2017-01-28 07:52] shpakovski commented on #10
Hi guys, thanks for your efforts. The command line `brew cask install michaelvillar-timer` works like a charm, feel free to close the Issue!

[2017-01-28 07:56] michaelvillar commented on #10
Thanks guys.

[2017-01-28 07:56] #10 closed

[2017-02-11 09:43] evmorov opened #12 "Make a release"
The last release was on May 18, 2016. In `homebrew cask` there is the same version 1.1. This version doesn't have 'stay on top' feature.

Can you release a new version or provide an instruction in the `README.md` how to build the app from source?

[2017-02-12 20:58] krokofant commented on #12
I am not familiar with Xcode but I've managed to build it by
* Cloning the project
* Opening the project in Xcode
* Removing everything that mentions signing, especially the *Team* at the screen below
![image](https://cloud.githubusercontent.com/assets/5908498/22865732/7493fff4-f16a-11e6-9773-6fe60c085181.png)
* cd'ing into the project folder and running:
[code]

I previously got an error saying `

[2017-02-13 12:28] evmorov commented on #12
Thanks, @krokofant! I've managed to do this.

[2017-02-13 12:28] #12 closed

[2017-02-14 07:39] michaelvillar commented on #12
There you go https://github.com/michaelvillar/timer-app/releases/tag/1.2

[2017-02-26 21:35] gsheni opened #13 "Set seconds"
When you type in the minutes, you can't set the seconds.
Is there a way to add seconds entry?

[2017-05-26 20:40] efimovdk commented on #13
I support the question above. I like the current solution: simply typing minutes from keyboard. This is not even a textfield. So I don't need to activate it by clicking on it, then type in minutes. Thus, I can set up timer without trackpad and operate it purely by keyboard. This is indeed great approach. As to the question. Let's control seconds by holding shift key? You want to set minutes - you

[2017-05-28 20:58] efimovdk commented on #13
@michaelvillar Any thoughts on this?

[2017-06-02 03:02] #13 closed

[2017-07-19 23:12] gudh opened #16 "[Feature request] Is it possible to save a timer?"
First of all, great app! Clean design, nice to use, thank you!

Personally, I use 25min and 50min timer a lot, I wonder if it's possible to save a timer so I don't need to set it up for 50min every time I use it, instead, just a simple click.

[2017-07-20 00:29] michaelvillar commented on #16
One feature that might interest you is that the keyboard is supported. Just
type 25 or 50 and you'll get your timer.
On Wed, Jul 19, 2017 at 4:12 PM gudh <notifications@github.com> wrote:

[2017-07-20 02:59] gudh commented on #16
@michaelvillar wow~ thanks! This helps a lot

[2017-07-20 03:00] #16 closed

[2017-08-21 17:20] akarki15 opened #17 "Update mac osx doc icon with actual time"
It would be awesome if the app also updated the dock icon with actual time so I wouldn't have to click the icon to know how much time has passed.

[2017-10-12 18:23] aar0nr opened #19 "Add option to disable timer sound"
Scares me every time when my volume is set high! 😝

[2017-10-27 03:05] tachim opened #20 "Question: timer persistence across suspend?"
Hi there, first of all thanks for making this awesome app! I use it often.

I've noticed that sometimes it seems like the timer has issues persisting across suspensions (e.g. set timer for 10 minutes, suspend for 5, and have 5 left when the computer wakes). I haven't been able to reproduce it, but just curious if this app is expected to work in that case or not.

[2017-10-27 04:21] tachim commented on #20
Actually, just confirmed there are some strange issues -- sometimes it works, sometimes it doesn't.

[2017-11-06 16:58] sauced1 opened #21 "Menu Bar Support"
Would be great if timer could make use of the menu bar instead of having an always open window.

[2017-11-23 13:05] KKSzymanowski opened #22 "Naming a timer"
Are you interested in a new feature allowing for naming a timer?
Timer name would be set below the *clock* control and its name would show up in the notification when the time's up.

I have never programmed in Swift, but this can be a good way to learn, if you'd be willing to merge this feature.

[2018-02-08 11:28] aonez commented on #21
I can help here, @michaelvillar will you accept pull requests?

[2018-02-08 18:45] michaelvillar commented on #21
Yes for sure. A few recommendations:
- have a setting to enable it
- disabled by default
- support for dark menu bar

[2018-03-03 01:30] Jarred-Sumner opened #23 "Missing hover state"
There's no visual indicator that you can click to drag in the UI. If you changed the cursor on hover, it would make it more clear.

![image](https://user-images.githubusercontent.com/709451/36928913-47816f9e-1e3f-11e8-8ad1-7bd5313a73a6.png)

[2018-03-11 11:09] aonez opened #24 "Dark Mode"
I was just messing around with the code, to get started with #21, and since you've asked dark menu support, wouldn't it be gorgeous to have a dark skin as well?

Called "Skins" the ticket because this can be just a dark skin or a customisable skins enhancement. Just some raw ideas:

- Dark skin (automatic with dark menu)
- Customizable skins: get rid of the image sets or add some layer on top of t

[2018-03-12 20:49] quantumgolem commented on #24
Would it be possible to upload higher-res screenshots?

I only think the text colors could use a little tweaking. I think red doesn't look as good on the dark background, and maybe the text in the center of the second screenshot could be lighter.

But these look very nice! Good job on them.

[2018-03-12 22:39] aonez commented on #24
It was just a quick test, only modified the background. A lot more can be done :) No higher res screenshots since I don’t own a retina Mac...

[2018-03-12 23:33] quantumgolem opened #25 "Remove notification alert after it has been clicked on"
I set the timer to have a notification alert (so that it doesn't go away after a few seconds). I usually keep the Timer app on another desktop (or "space") so that I can easily go to that desktop by clicking on the notification. However, after doing this, the notification alert stays on the screen until I manually dismiss it.

Is it possible to make it dismiss when it finds out that it has been cl

[2018-03-12 23:56] quantumgolem commented on #24
@aonez I just need to let you know if you don't already, this app looks absolutely _gorgeous_ on retina Macs. I'll try to modify it myself and see what I can come up with.

[2018-03-13 10:28] aonez commented on #24
https://github.com/aonez/timer-app/commit/1dc2b6370f30c6100839cda2e543c7ed044a7263

Here's what I've changed. Changing the text color is easy too, and also changing the clock-focus images.

[2018-03-19 11:49] gb09 opened #26 "Sound/Volume is very faint"
Hello. As noted in the issue title sound at the end of the time period seems extremely faint. Are oters experiencing this. Could it be fixed and perhaps an option to allow or not sound and at what level. Thank you.

[2018-05-30 18:13] DummybugStudios opened #28 "Timer goes off even when closed"
Don't know if this is a bug or feature but when I close a timer and don't quit the app, it doesn't invalidate the timer and the timer goes off.

If you can confirm this isn't a feature then I can try and implement a solution to this?

[2018-05-30 18:14] DummybugStudios commented on #17
What if you have multiple timers on? Which one would show up?

[2018-05-30 18:35] akarki15 commented on #17
i didn't even know you could have multiple timers! when there are multiple timers, you could show an option on each timer that would designate it as the one which would show up in the doc icon.

[2018-05-31 09:21] DummybugStudios commented on #17
Okay lovely I'll see if I can implement this? You may have to wait a little while as I'm backed up with exams and don't have a lot of time.

[2018-06-01 00:59] DummybugStudios commented on #17
@akarki15
My latest commit now adds a badge to the dock tile:
https://github.com/DummybugStudios/timer-app/commit/5cde4397817d9eb1d945a0dad1368189a44b5a1a
However, if you have multiple timers which one it will choose is still a little random so I won't be opening a pull request until I have sorted that out.
In the meantime - feel free to build that branch and enjoy the badge :)

[2018-06-06 18:21] DummybugStudios commented on #17
@akarki15 I have opened a pull request for the badge.
You have to right click teh window and choose "show in dock" to show the timer in the dock.

[2018-08-03 17:04] karbassi opened #31 "Add build instructions and release"
Hey @michaelvillar, I love this simple app. I use it daily.

Can you cut a new release with the recent changes?

Also, it would be nice to have build instructions somewhere. I used the following in terminal.

[code]

Then the app is within `build/Release`.

[2018-08-08 23:08] michaelvillar commented on #31
Added https://github.com/michaelvillar/timer-app/commit/c5d6fea87794d98443677f82a51c038160ce4838

[2018-08-08 23:08] #31 closed

[2018-09-06 23:53] honghaoz opened #36 "Drag a calendar event and create a new timer?"
I found it's useful to use a timer for counting down before a calendar event (e.g. a meeting event).

One possible way to create a new timer is by accepting a calendar file (.ics) and create a new timer.

#22 suggests naming a time. This could be useful as well.

[2018-09-07 02:32] michaelvillar commented on #36
Go for it if you're willing to contribute!

[2018-09-27 09:49] BrandlMax opened #40 "Mojave Bug: Transparent "Watchface" in passive mode"
Hello guys,
first of all... i love this app! Thank you!

I switched to Mojave on Monday, so I noticed this bug. As soon as the timer window is no longer active/focused, the "watchface" becomes transparent. But if I click on the timer window and make it to my active / current window, everything looks good again. Strange.

<img width="250" alt="bildschirmfoto 2018-09-27 um 11 38 20" src="https://use

[2018-10-06 10:03] marbetschar commented on #40
Same here too. BTW: A dark mode for the timer in Mojave would be awesome ;)

[2018-11-20 20:21] karbassi opened #43 "Tag and release 1.5.0"
Hey @michaelvillar,

Would it be possible to build a new release for the changes since 1.4?

https://github.com/michaelvillar/timer-app/compare/1.4...master

If you're super busy, I'm willing to join the project and do basic stuff like making releases, keeping a changelog, and testing.

[2018-12-04 03:36] henryL1N opened #46 "How about add stop watch function?"
when timer is stopped, click timer (central circle) to start stop watch;
when stop watch started, click timer to tag a time, and print out the tag ticket from bottom of the app;
put a stop/reset button to the right bottom corner to stop (when stop watch running) or reset (when stop watch stoped).

[2018-12-23 00:09] michaelvillar opened #49 "Sound choice"
Hey,

Anyone wants to add the possibility to choose the sound of the alarm? (A menu or preference would be enough).
Someone (Ralph, not sure if you want your full name here) sent me sounds he created and it's pretty sweet.

[alert-sound1.zip](https://github.com/michaelvillar/timer-app/files/2705648/alert-sound.caf.zip)
[alert-sound2.zip](https://github.com/michaelvillar/timer-app/files/2706257/ale

[2019-01-07 16:44] luckman212 commented on #43
@karbassi I vote for this! Been hoping for a new Timer release for a while now.

[2019-01-07 18:30] karbassi commented on #46
My vote is keeping this app simple. Maybe fork the app and create a stopwatch version?

[2019-02-05 14:16] simonharrer opened #51 "Add ability to send timer via command line"
I want to issue a command on the terminal like so `$ timer 10` and the timer starts or resets to 10 minutes.

[2019-02-18 10:52] bensleveritt commented on #49
Could I also request a ticking sound when on? I use Timer for a pomodoro timer, and it's near perfect, but I kind of like some constant ticking noises (helps to make it clear I need to focus). Opt-in of course, might be a bit alarming for others

[2019-02-26 05:30] rabidracc opened #52 "OS maybe?"

[2019-02-26 05:30] #52 closed

[2019-02-26 05:32] rabidracc opened #53 "IOS maybe?"
Can you make this available for ios devices?
I really like the simplicity of this app.

[2019-02-26 05:39] michaelvillar commented on #53
iOS already has a timer app by default. I’m not sure I see the point?

On Mon, Feb 25, 2019 at 9:32 PM rabidracc <notifications@github.com> wrote:

[2019-03-28 00:49] dixitk13 opened #54 "12-hour support"
Can we have 12-hour mode with an AM/PM symbol?

Perhaps a setting, which allows to toggle between 12hour/24hour mode

[2019-03-28 03:37] karbassi commented on #54
@dixitk13 great idea.

PR are welcome!

[2019-03-28 03:38] #53 closed

[2019-03-28 03:40] #46 closed

[2019-03-28 03:42] karbassi commented on #24
Renamed this to "Dark Mode" since a dark mode would be a good fit for what this issue is asking for.

[2019-03-31 18:57] robinstewart commented on #54
I actually already implemented this, using the setting in System Preferences to determine whether 24-hr or AM/PM is displayed.

You can use the feature now if you build the app yourself from source, but we are waiting for Michael to release a new pre-built version with the latest features.

[2019-03-31 19:01] dixitk13 commented on #54
I see the commit 8676e1c6de387ad7d666a54ee0bf5e1f3f1a2685 now which does this. Thanks a ton, @robinstewart. I can try building this, I see a makefile as well.

[2019-03-31 22:57] karbassi commented on #54
@robinstewart I'm working on getting automatic builds setup via Travis or CircleCI. Hopefully I'll have a new build coming out very soon.

[2019-04-18 11:28] bartoszbak commented on #40
Facing the same issue.

[2019-04-23 09:17] alper commented on #43
I'm very happy with the app and I'm noticing some minor bugs etc. that I hope may have been fixed in master. So eagerly awaiting somebody cutting another release.

[2019-04-30 09:34] alper commented on #43
Never mind. I made a build for myself just now.

**Update:** Current master seems to be quite broken when built.

[2019-05-30 04:04] naoyeye opened #56 "the triangle, is something wrong?"
the translucent circles do not cover the triangles.

![tiN4JBProf](https://user-images.githubusercontent.com/434428/58607409-2232ac00-82d2-11e9-9ced-c48d8fd7f76c.gif)

[2019-05-30 19:09] karbassi commented on #56
Duplicate of #40

[2019-05-30 19:09] #56 closed

[2019-06-08 22:09] luckman212 commented on #43
@alper I don't see a fork in your repos, can you share your release somehow? It seems @michaelvillar isn't coming back to this anytime soon 😞

[2019-06-10 11:33] alper commented on #43
@luckman212 As soon as I have time, I'll dive into this but for now I'm making do with the latest release on Github.

[2019-11-17 10:37] silomia commented on #49
These sounds are an excellent addition. I find them somewhat better, less intrusive or irritative. The sounds are for different moods. I like them. Please consider adding them.

[2019-11-17 15:35] karbassi commented on #49
PR welcome!

[2019-11-22 04:57] a-tokarev opened #57 "Countdown timer starts with 00:00 after 24 hours"
![timer](https://user-images.githubusercontent.com/32895328/69398399-1c56da00-0cfb-11ea-85fb-22ef299311b0.png)

**Issue:** when the main timer (the black one) is set to more than 24 hours, the coundown timer (the red one) resets and starts counting up from 00:00 (see the screenshot). Even if this doesn't break the work of the timer, this is confusing.

**Suggestion:** remove the countdown timer's

[2019-12-14 07:50] shadow-2020 commented on #49
Hello man, I like this App very much. But I got no sound when time was up. Could you please tell me what I can do to add the sounds? Thanks a lot.

[2020-01-30 20:23] marbetschar opened #58 "Reusing your assets for an elementary OS clone?"
Hi Michael,

I switched recently to elementary OS and I really miss your awesome timer app. Have to admit I fell in love with it on macOS. That's why I just started cloning it: https://github.com/marbetschar/timer

Unfortunately I'm more of a programmer than a designer. And as I really like your design, I wanted to ask you if you're cool if I reuse [your assets](https://github.com/michaelvillar/ti

[2020-01-30 20:32] michaelvillar commented on #58
Go for it! Would love to see what you end up making :)

[2020-01-30 20:33] marbetschar commented on #58
Thank you very much!!

[2020-01-30 20:33] #58 closed

[2020-01-30 20:34] marbetschar commented on #58
Will keep you posted!

[2020-01-30 20:51] marbetschar commented on #58
@michaelvillar forgot to ask: Any chance you got the assets laying around somewhere in SVG format?

[2020-01-30 21:03] michaelvillar commented on #58
Here's the Sketch file (unfortunately I think Sketch is a macOS software)
[timer-app.sketch.zip](https://github.com/michaelvillar/timer-app/files/4136244/timer-app.sketch.zip)

[2020-01-31 05:52] marbetschar commented on #58
😍😍😍

Thank you!!!

[2020-02-03 23:57] marbetschar opened #59 "elementary clone: Math issues"
Hi Michael,

Thanks again for providing the design for the elementary clone of your Timer App! I made quite some progress, but right now I'm struggling with the math part.

If you have some time, it would be awesome if you can tell me what the following lines exactly do.
My main question here is: What exactly are `location.x`, `location.y`, `center.x` and `center.y`?:

https://github.com/michaelvi

[2020-02-04 14:04] marbetschar commented on #59
Seems like the underlying issue is a difference in the coordinate system used to position the elements. Under Linux (GTK) the origin seems to be the top-left corner, wherelse under macOS (Cocoa) the origin seems to be the lower-left corner - so the y-Axis behaves different.

That said, I was able to fix most of the calculation issues. But I'm still unable to wrap my head around the mentioned `loca

[2020-02-04 19:32] robinstewart commented on #59
Looking at the code I assume that `location` is the (x,y) coordinates of the cursor, and `center` is the (x,y) coordinates of the center of the clock circle.

So `location.x - center.x` is the horizontal distance to the center, and `location.y - center.y` is the vertical distance. Those go into `atan(opp/adj)` to get an angle.

I may be missing something, but dividing by `center.x` and `center.y`

[2020-02-04 22:11] marbetschar commented on #59
@robinstewart thank you very much for your feedback! I finally found the issue: After hours of searching and testing it turned out I missed a simple `- PI / 2`.... 🤦‍♂️️

Now it works:
![Mit-Pfeil](https://user-images.githubusercontent.com/392542/73791982-a8798900-47a3-11ea-8413-d03f316a6e3e.gif)

[2020-02-04 22:11] #59 closed

[2020-02-06 12:39] marbetschar commented on #58
As promised a quick update on the elementary clone: The first version is done and waits to be released to the elementary AppCenter. This is how it looks like:

![Time-Limit-Preview](https://user-images.githubusercontent.com/392542/73937710-f5fe0f00-48e5-11ea-9f57-9dd1b4a488f1.gif)

Thanks again for all your help and providing the design!!

[2020-02-06 16:18] michaelvillar commented on #58
That looks great!

[2020-02-16 05:29] Pandorin opened #60 "Window without timer controls"
**Steps to Reproduce:**
1. Clone rep;
2. Open project in Xcode (my Version 11.3.1 (11C504));
3. Build project (I just set up "Signing -> Development Team" in "Build Settings", fix or not swift warnings  - irrelevant);
4. Build success, but app without timer controls:
![timer_builded](https://user-images.githubusercontent.com/1074906/74599568-5125c380-5095-11ea-863c-7bffc3606c7e.png)

But installed

[2020-02-26 00:56] AndyDeNike opened #61 "No notification / no sound"
Running macOS Catalina V10.15.3

[2020-02-26 01:04] AndyDeNike commented on #61
Well I do get the bouncing clock (which is probably the notification?) but still no sound.

[2020-02-26 22:06] robinstewart commented on #61
There should be a system notification with sound. This is what I get on macOS 10.14.6:
<img width="334" alt="image" src="https://user-images.githubusercontent.com/15016520/75392566-27dd1280-58a1-11ea-9497-099bf9f1d419.png">

[2020-02-26 22:43] AndyDeNike commented on #61
After adjusting System Preference -> Notifcations -> Timer and turning on all options (banner, sound etc) I am now recieving the notification in top right corner (as your screenshot indicates) but still no sound.

[2020-03-30 02:53] karbassi commented on #54
Related to #57

[2020-03-30 02:58] #28 closed

[2020-03-30 03:00] karbassi commented on #19
Related to #49

[2020-03-30 03:00] #20 closed

[2020-04-01 23:54] makeros commented on #51
Hi.
Yes. I would be great to be able to start and control the timer from the command line. I love the timer.
I wrote a small app in which i try to "timebox" my todoist tasks. And from there i would also like a start a timer for a specific tasks. So, things like start, pause, reset (and also get some feedback when pausing ) would be awesome :)

[2020-04-09 16:08] thiagomgd commented on #61
No sound for me either.
Also, because it vanishes after a few seconds, I completely missed it while I was coding:
using editor full screen on external monitor, and notification shortly appeared n my laptop, which I wasn't paying attention

[2020-04-09 18:27] robinstewart commented on #61
I'm still not running Catalina so I can't test this myself, but if any of you are able to build the app from source, can you try out my `volume-control` branch and let me know if the sound plays in Catalina? (You will have to build and run in Xcode.)

https://github.com/robinstewart/timer-app/tree/volume-control

I'm using a different sound API in this branch (`AVAudioPlayer`) — it may be that the

[2020-04-10 03:26] karbassi commented on #60
Fixed in #50

[2020-04-10 03:26] #60 closed

[2020-04-10 03:30] karbassi commented on #57
The RED is the current time (and since your system is set to use `24-Hour Time`, it displays that way). The RED is also relative to what time it'll be once the timer runs out.

I ran the same example at 22:27 (10:29 PM) and it showed the following.

![Screen Shot 2020-04-09 at 22 27 57](https://user-images.githubusercontent.com/17738/78959799-a8eb1480-7ab1-11ea-83b1-89e520e6a735.png)
![Screen Shot

[2020-04-10 03:30] #57 closed

[2020-04-10 03:33] karbassi commented on #54
As @robinstewart said, it's already implemented.

For example, is I have `24-Hour Time` set in my "Language & Region", it shows as such:

![Screen Shot 2020-04-09 at 22 32 29](https://user-images.githubusercontent.com/17738/78959916-03847080-7ab2-11ea-8a34-51b9908f7429.png)

Here is `24-Hour Time` unchecked.

![Screen Shot 2020-04-09 at 10 32 41 PM](https://user-images.githubusercontent.com/17738/

[2020-04-10 03:33] #54 closed

[2020-04-10 03:34] karbassi commented on #40
@robinstewart  thoughts on this fix?

[2020-04-10 03:38] karbassi opened #66 "Black border around app when in Dark Mode"
**Describe the bug**
There is a black border around the app when in dark mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Switch macOS to "Dark Mode"
2. Load Timer App
3. See dark border

**Expected behavior**
There should be either no dark border or the app should have an actual dark mode. Related to #24

**Screenshots**
Dark mode on:

![Screen Shot 2020-04-09 at 10 32 41 PM](https://u

[2020-04-10 03:43] karbassi commented on #43
Hey @alper @luckman212 @robinstewart, we do need a little help with a few issues before we can push 1.5.

See https://github.com/michaelvillar/timer-app/milestone/1

Any help would be appreciated!

[2020-04-10 03:44] karbassi commented on #26
Related to #19

[2020-04-10 03:44] #26 closed

[2020-04-10 05:31] karbassi opened #68 "Drop support for anything before macOS 10.13"
[Apple stopped supporting 10.12 and earlier.](https://en.wikipedia.org/wiki/MacOS_Sierra#Release_history)

Should we stop supporting anything less than macOS 10.13?

This would allow us to write cleaner code since there has been a lot of new code features in 10.13 and above.

I'd like to hear everyone's views.

[2020-04-10 20:29] robinstewart commented on #68
This makes sense to me. We can link to a build of version 1.5 for anyone who needs compatibility going further back.

[2020-04-10 21:47] robinstewart commented on #19
I've implemented a prototype which has a little inline volume control. Clicking the speaker icon cycles between 4 states: high volume, medium volume, low volume, and sound off. Each timer has its own volume, but new timers default to the volume setting last used.

Thoughts? I don't want to clutter this app's nice clean user interface, but this does seem like an important feature. Possibly in the f

[2020-04-10 22:30] karbassi commented on #19
@robinstewart I do love the clean style of this and how each timer will have its own volume, but I think it might be best to have a preferences panel show up (separate from the timer) that allows you to set the volume (maybe a range?) and the sound played (related to #49 #61)

Thoughts?

[2020-04-10 22:33] karbassi commented on #68
I agree. I think version 1.5 will be the last supported release of macOS 10.13.

[2020-04-10 22:54] robinstewart commented on #40
Ok, I have a working fix for this. However, it will have merge conflicts with the Swift 5 update, so I will wait until that is merged in before I create a pull request.

Details: The clock face was an `NSImageView` which is automatically dimmed in macOS Mojave and later. I have not found any way to disable this behavior, so instead I just converted the clock face to a custom `NSView` that draws it

[2020-04-10 23:17] robinstewart commented on #19
I think the main advantage of having the volume right there is that it makes it very clear whether or not a sound will play when the timer goes off. Maybe you turned off the sound last time, but today you want the sound to play to make sure you don't miss it. Without the indicator there, it would be easy to forget that the setting has been changed — a potentially dangerous situation if the timer i

[2020-04-11 05:52] karbassi commented on #40
@robinstewart I merged your fixes into #67

Tested and it works well!

[2020-04-11 05:57] karbassi commented on #23
@robinstewart @michaelvillar thoughts?

I think maybe having a slight color change of the triangle when hovering over the clock face.

[2020-04-11 06:05] karbassi commented on #19
@robinstewart I'm okay with that. I say we push it and change it if it's a problem later.

[2020-04-11 16:14] karbassi commented on #58
Updated Sketch file with dark mode.

[timer-app.sketch.zip](https://github.com/michaelvillar/timer-app/files/4464914/timer-app.sketch.zip)

[2020-04-11 20:58] #24 closed

[2020-04-11 20:58] #40 closed

[2020-04-11 20:58] #66 closed

[2020-04-11 22:15] #43 closed

[2020-04-11 22:52] karbassi commented on #43
# 💥 Version 1.5.0 released! 💥

Thank you to @robinstewart for the help and thanks to @michaelvillar for a wonderful project!

[2020-04-12 01:41] syimyuzya opened #71 "Buggy mouse control"
**Describe the bug**
Hard (or even unable) to drag the blue triangle near diagonal positions.

**To Reproduce**
- Open a timer
- Set time to one of the following: 5 min (top-right), 20 min (bottom-right), 35 min (bottom-left) or 50 min (top-left)
- Try to drag the blue triangle again

**Expected behavior**
The blue triangle should be dragged.

**Actual behavior**
The whole window is dragged.

**De

[2020-04-12 02:46] luckman212 commented on #71
I can reproduce this too, on 10.15.4

[2020-04-12 04:11] karbassi commented on #71
Yup, I can reproduce as well.

@robinstewart do you think this has to do with the change in #40 (Changing `NSImageView` to `NSView`) ?

[2020-04-12 04:27] karbassi commented on #71
Update, I reverted the changes in https://github.com/robinstewart/timer-app/commit/2fd3f8292355d936e209d34461b0a4d02aae2625 and the error went away. I wonder what part of the changes is the issue.

[2020-04-12 04:41] #71 closed

[2020-04-12 04:42] karbassi commented on #71
Fixed. Thanks @syimyuzya and @luckman212 for reporting it.

[2020-04-12 05:09] max-yeah opened #73 "remove the icon in dock"
**Describe the bug**
Right-click and uncheck the "show in dock" cannot remove the icon in dock. And if I quit and reopen the app, the "show in dock" menu item will be checked again, so It won't remember my decision.

**Screenshots**
![Screen Shot 2020-04-12 at 13 04 51](https://user-images.githubusercontent.com/26541990/79061058-9eea3100-7cbe-11ea-8178-036faf3107d7.png)

**Desktop (please complete

[2020-04-12 05:26] karbassi commented on #73
@max-yeah You didn't do anything wrong. The option is confusing.

"Show in Dock" should be renamed to "Show timer badge in Dock".

See https://github.com/michaelvillar/timer-app/pull/42

We should rename it to remove any future confusion.

[2020-04-12 06:35] maxk77 commented on #73
I see. Thank you.

[2020-04-12 06:35] #73 closed

[2020-04-14 13:32] technovangelist opened #78 "keep on top"
**Is your feature request related to a problem? Please describe.**
Not a problem

**Describe the solution you'd like**
I wish there was an option to keep the timer on top of all windows. I am using this in a presentation where I show instructions for a hands on lab and would love to also show how much time is left in the lab.

**Describe alternatives you've considered**
Ive looked at a lot of time

[2020-04-14 16:00] karbassi opened #79 "Create Preference Window"
Now that there are a few other **simple** features/settings requested, we should have a preferences window option.

[2020-04-14 16:19] robinstewart commented on #78
This feature already exists! 😄

**Window** menu -> **Stay on top**

[2020-04-14 16:30] robinstewart commented on #79
@karbassi Do you mean an app-wide preferences window or a per-timer settings panel?

So far the feature requests I've looked at seem per-timer, like setting a name, a custom sound, a custom volume.

[2020-04-14 16:34] robinstewart commented on #43
And thanks to @karbassi for managing the release!

[2020-04-14 16:43] robinstewart commented on #79
Also it occurs to me that some of this we can do via regular menu items (instead of or in addition to a panel):

<img width="269" alt="image" src="https://user-images.githubusercontent.com/15016520/79250932-53f22a00-7e34-11ea-9841-2b840b0901ba.png">

[2020-04-14 18:07] technovangelist commented on #78
Wow, look at that. there it is. doh!

[2020-04-14 18:07] #78 closed

[2020-04-14 18:30] karbassi commented on #79
@robinstewart if it's per-timer, then maybe a slide-out panel from the timer with a few settings.

I think we should have global hotkey preference panel if we need it.

For example, this is [Spectacle](https://github.com/eczarny/spectacle)'s.

![Screen Shot 2020-04-14 at 1 27 52 PM](https://user-images.githubusercontent.com/17738/79260460-ec4bd700-7e53-11ea-8782-ecd7c6a1b03d.png)

[2020-04-14 22:59] robinstewart commented on #79
Sounds good.

[2020-04-14 23:04] robinstewart commented on #61
I've submitted an update with _only_ the AVAudioPlayer change: #80

[2020-04-14 23:08] robinstewart commented on #19
I'm not sure I like this design enough yet to submit it. It would be better to have a real slide-out or pop-up panel with a volume slider, and a sleeker button icon on the main timer window, like an alert bell icon that doesn't change in size. I don't have time to do this work right now so I've just submitted #80 which is just a small back-end change which will help future efforts.

[2020-04-23 05:30] karbassi commented on #61
@AndyDeNike @thiagomgd Can you test out latest version (1.5.3) to verify the issue has been fixed?

[2020-04-23 17:22] AndyDeNike commented on #61
@karbassi Fully functional on 1.5.3 !  Both notification and sound are now available on my current Catalina version 10.15.4

[2020-04-23 20:35] #61 closed

[2020-05-18 08:40] pjpjq opened #82 "Resizable window"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Hi, I'd like to have the window resizable.

**Describe alternatives you've considered**

**Additional context**

[2020-05-18 16:49] karbassi commented on #82
@wendingp Can you explain a little more. Is the window too small or too big? What's your use case?

[2020-05-19 03:01] pjpjq commented on #82
sometimes too big when I work with other windows of full screen size, while I still want the timer window float on top

[2020-05-19 03:06] luckman212 commented on #82
Sometimes I wish I could stretch the window very large so I can view it from across the room. So I guess there are 2 use cases here!🙂

[2020-05-19 18:48] karbassi commented on #82
Thanks @wendingp and @luckman212 for the use cases. We'll take a look.

[2020-05-21 08:17] b0ttle opened #83 "Add logs"
**Is your feature request related to a problem? Please describe.**
It is difficult for me to record every timer i set up when i focus on a task.

**Describe the solution you'd like**
It can export logs for today or this week's timers status.

[2020-05-21 15:45] karbassi commented on #83
@b0ttle Thanks for this amazing request. It seems like you want a Pomodoro timer. We're aiming to keep the app simple and single-task focused. Check out https://thesweetsetup.com/apps/best-pomodoro-app-mac-ios/ for some other apps that may help.

[2020-05-21 15:45] #83 closed

[2020-05-25 17:57] karbassi commented on #82
@robinstewart Want to take a stab at this? ❤️

[2020-05-26 19:34] robinstewart commented on #82
@karbassi Thanks for asking, but no I've run out of time for working on this for now. However I have some thoughts on design issues, which I'll describe here.

Part of what's great about this app is that it was carefully designed for its current size. I think smaller and larger variants would need different designs to best serve those use cases. Specifically, for the "small" use case, you'd want a

[2020-06-30 13:20] delsallorenzo commented on #21
I think the same!

[2020-07-01 10:10] TimoPurznerCoC opened #84 "Option for shortcut"
since cmd  + n is a shortcut for a lot programmes. E.g. new Tab in browser, I want to be able to set a other shortcut to open a timer.

[2020-07-01 10:12] #84 closed

[2020-07-01 10:12] ghost commented on #84
I thought you can press cmd n everywhere not only when programm is open sorry 🙈

[2020-07-07 22:19] nicolasv opened #85 "Use a fixed-width font and leading zeros for less jank"
Hi

**Is your feature request related to a problem? Please describe.**
I notice little movements of the timer's contents—aka "jank"—out of the corner of my eye which is distracting

**Describe the solution you'd like**
* Use a fixed width font, please, so that, e.g., `51"` → `50"` doesn't move around
* Use leading zeroes, please, so that, e.g., `10"` → `9"` doesn't move around (it would be `10"` →

[2020-07-08 15:34] karbassi commented on #85
I agree with this! I'll take a look at this.

[2020-07-08 23:30] nvenegas commented on #85
@karbassi thanks for creating #86!

Not sure if y'all also agree with leading zeroes (top row without, bottom row with):
<img width="218" alt="no-zeroes-double-digits" src="https://user-images.githubusercontent.com/50625/86980417-1993f100-c1c7-11ea-8f58-9cd64da90f3f.png"> <img width="218" alt="no-zeroes-single-digit" src="https://user-images.githubusercontent.com/50625/86980420-1ac51e00-c1c7-11ea-

[2020-07-09 00:27] karbassi commented on #85
@nicolasv I personally don't think the zero-pad looks good. The change in digits happens once (`10 minutes to 9 minutes`) or at most twice (`100 minutes to 99 minutes` and `10 minutes to 9 minutes`). To me, that's not that jarring.

Thoughts @michaelvillar @robinstewart?

[2020-07-09 13:50] #85 closed

[2020-07-09 14:31] robinstewart commented on #85
I agree with @karbassi that the few times the number of digits changes is not worth adding the visual noise of a leading zero, by default. The clean visual design is an important part of what makes this app special.

But this would be a fine setting to go in the preferences for those like @nicolasv who want to turn it on.

[2020-07-09 14:59] karbassi commented on #85
Zero-pad is related to #89

[2020-07-10 00:24] nvenegas commented on #85
Using the newly released version (with fixed-width font, but no zero padding) — and I really like it! So I'm no longer requesting zero padding :)

[2020-07-10 02:23] robinstewart commented on #85
@nicolasv Awesome! 😄

[2020-07-10 04:18] karbassi commented on #85
I'm glad! @nicolasv

[2020-07-11 23:51] karbassi opened #90 "Timer skips seconds"
**Describe the bug**
The timer skips seconds from time to time <sup>(pun intended)</sup>. For example, it may go from 53 to 51 without seeing 52.

**To Reproduce**
Steps to reproduce the behavior:
1. Set timer to 1 minute
2. Watch it count down and observe it skipping numbers

**Expected behavior**
It shouldn't skip numbers.

**Desktop (please complete the following information):**
 - OS version:

[2020-07-12 00:41] luckman212 commented on #90
I noticed this too - I was poking around in the source to try to figure out why this was happening. Something related to `Foundation.Timer.scheduledTimer(timeInterval` maybe?

[2020-07-12 02:18] robinstewart commented on #90
When I was making the app more energy efficient, I made sure that the UI is only updated once per second. I think what may be happening is that in the unusual case where you happen to start the countdown very close to the seconds boundary, you could get an update at, say 8.99 seconds and then at 8.01 seconds, which would both show as "8".

Note the Foundation repeating timers don't "drift" -- you

[2020-07-16 23:32] luckman212 commented on #90
Fix #94 looks good.

[2020-07-16 23:47] #90 closed

[2020-08-14 02:35] peasarechic opened #95 "Play/pause issues on Big Sur"
Play/pause button becomes unclickable like it doesn't exist. The same happens to the blue dragging thingy that sets the time. Once the timer is set and running. It cannot be changed nor paused.

Further there is now a white border at the bottom. (See screenshot)

(On Big Sur beta running on Macbook Air 2017)
1. Open the timer
2. Set the timer
3. Let it run for 5 sec then try to pause. Nothing happ

[2020-08-14 03:05] karbassi commented on #95
Thanks @espresso-math for reporting this. We'll need people to test the new OS for us.

No good that the app breaks within it.

[2020-08-14 03:15] 63ba1f46da commented on #95
Always happy to do what I can to help. Cannot stress how useful this app has become to me. I use it everyday.

[2020-08-14 03:21] karbassi commented on #95
@espresso-math I'm glad. I'll install Big Sur soon to see what the issue is.

@robinstewart do you happen to have Big Sur installed?

[2020-08-14 03:26] 63ba1f46da commented on #95
@robinstewart Yes, I updated to it a few days ago.

[2020-08-14 10:04] 63ba1f46da commented on #95
@robinstewart  I have a new observation. The play/pause works as long as I don't try to move the blue slider. As soon as I try to move the blue slider the whole timer window moves with he cursor. After that the play/pause doesn't work and I have to restart the timer or create a new one. Once it gets stuck, if I make a new timer I drag it and set the timer but the same problem appears if I try to d

[2020-08-14 16:03] robinstewart commented on #95
Thanks @espresso-math. Unfortunately no I don't have Big Sur installed yet. I guess it's not too surprising something broke, given the significant visual changes in Big Sur.

If anyone else wants to look into this, Xcode > Debug menu > View Debugging > Capture View Hierarchy has been helpful to me in the past...

[2020-08-18 15:19] karbassi opened #96 "Website"
It would be amazing to have a simple website for this app. Not everyone that uses this app is tech-focused and GitHub can be intimating.

[2020-08-20 18:04] johngrant opened #97 "Cannot run timer after using `brew cask install michaelvillar-timer`"
**Describe the bug**
MacOS security preventing timer from running after install via `brew cask install michaelvillar-timer`

**To Reproduce**
Steps to reproduce the behavior:
1. Open Terminal
2. Run command `brew cask install michaelvillar-timer`
3. After install finishes hit CMD+Spacebar and type `timer` to bring up the timer app installed in step 2. Press enter.
4. A dialog appears preventing th

[2020-08-20 18:23] karbassi commented on #97
[Safely open apps on your Mac](https://support.apple.com/en-us/HT202491)

[2020-08-20 18:23] #97 closed

[2020-08-21 16:36] johngrant commented on #97
@karbassi Thanks, that helps! I was looking for similar instructions yesterday, but why can't the app be signed to prevent the warning?

[2020-08-21 16:53] luckman212 commented on #97
@johngrant are you volunteering to pay the $99 yearly Apple Developer fee? 😉

[2020-09-19 15:48] glebignatieff opened #99 "The app fails to start on macOS Catalina"
**Describe the bug**
The app isn't signed or notarized thus it fails to start.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the app using the link in the description or using `brew cask`.
2. Run the app.

**Expected behavior**
Start up successfully.

**Screenshots**
<img width="532" alt="image" src="https://user-images.githubusercontent.com/5960869/93670954-bf0cf000-faa7-11ea-86e

[2020-09-20 11:04] wize-wiz commented on #99
@glebignatieff Start a fund for the dev-op to pay the fees so it will startup as expected ..

[2020-09-20 11:37] glebignatieff commented on #99
I might be wrong, but this app is macOS-only and Catalina holds more than a half of the market share, so I'm a bit confused.

[2020-09-20 18:44] robinstewart commented on #99
@glebignatieff Notarization requires a paid Apple Developer account ($99/yr) so I think @wize-wiz suggestion was to fund such an account.

[2020-09-21 13:42] karbassi commented on #99
[Safely open apps on your Mac](https://support.apple.com/en-us/HT202491)

Duplicate of #97

[2020-09-21 13:42] #99 closed

[2020-09-24 21:14] Aayush9029 opened #100 "Minimize / Hide the timer, Dark interface"
Would love a minimize button so it's not distracting anymore as it can be annoying at times.
Also it would be awesome if the center interface was also dark, maybe grey-ish.

**That would be awesome**

If this is something you are not looking into adding, feel free to let me know I'm ready to fork!!

Great job BTW <3

[2020-09-24 22:53] robinstewart commented on #100
@Aayush9029 Thanks for the feedback.

1. Hiding the timer — you can simply close the timer (red button) and it will continue to run in your dock. Click the dock icon to open the timer window again. So, it basically works as minimize. Whether this is the best UI is another question. If you want to pursue this please file a separate issue.

2. Dark mode with dark center — @aonez did some prototyping

[2020-09-29 23:08] #100 closed

[2020-10-28 02:32] johngrant commented on #97
No thanks! The instructions from Apple helped run the app without the warning. I like it and it makes a great Pomodoro or time box timer, but $99 is a bit too steep right now. Damn closed Apple eco-system. I would donate a little less than that though.

[2020-11-10 11:42] connorads opened #101 "Notarize Timer for macOS"
`Timer` is currently not [notarized](https://developer.apple.com/documentation/xcode/notarizing_macos_software_before_distribution), which means that it is difficult to run on modern macOS versions [like Catalina due to enhanced security features](https://support.apple.com/en-euro/HT202491).

![image](https://user-images.githubusercontent.com/10026538/98669804-b3bc9f00-2349-11eb-8fa8-4d3311b71fd6.

[2020-11-11 20:19] karbassi commented on #101
[Safely open apps on your Mac](https://support.apple.com/en-us/HT202491)

Duplicate of #97

[2020-11-11 20:19] #101 closed

[2020-11-13 06:50] NicholasSloan opened #102 "Enable per hour time-entry"
Timer works only in minutes and seconds, which is fine, but I'd love to be able to *enter* times in hours, even if "2h" shows up as 120'. (Otherwise an almost perfect app.) The consistent syntax would be 2:1.30 = 2h, 1m, 30 secs. (Not a realistic timing, just to demonstrate the proposal.)

[2020-11-13 13:43] NicholasSloan opened #103 "Option for app to quit on close window/s"
Enable preference (or hidden preference via Term) for app to quit on closure of last window.

[2020-11-13 20:56] karbassi commented on #103
Thanks @NicholasSloan for the suggestion. We're trying to keep the app very simple. If others want this feature, we'll add it to the list of features.

Please vote by putting a thumbs up on the issue.

[2020-11-17 14:52] Bendetta commented on #95
When running this locally on Big Sur, the mouseDown event is never being hit so `didDrag` has no way of being reset to false. The other events seemed to be firing reliably.

[2020-11-30 08:03] wojtekcz opened #104 "No red badge on Dock icon with remaining time on Big Sur"
I don't see red badge on Dock icon with remaining time on Big Sur.

**Screenshot:**
![image](https://user-images.githubusercontent.com/1236889/100583303-cd1e8e80-32ea-11eb-856f-ceebb408c866.png)

**Desktop:**
 - OS version: macOS Big Sur 11.0.1
 - Version: 1.5.5

[2020-12-14 14:25] PDXIII opened #105 "Apple Script API"
As a heavy user of [Alfred](https://www.alfredapp.com/) I love to create my own workflows to use my productivity apps more efficiently.

Unfortunately, Alfred depends (AFAIK) on an Applescript API to access applications.
Since I would assume I am not the only Alfred user here. I think it would be beneficial for some of your users.

If you make that happen, I’ll make the Alfred workflow public for

[2021-01-08 21:19] #49 closed

[2021-01-18 22:55] JolinM commented on #96
Found [a great example](https://superhighfives.com/pika) for what it could look like

[2021-01-20 15:24] silomia commented on #104
It is working for me now, as expected, with the new Timer 1.6 on Big Sur 11.1.

[2021-01-20 15:25] silomia commented on #95
It is working for me now, as expected, with the new Timer 1.6 on Big Sur 11.1.

[2021-01-20 15:35] legissa opened #109 "Keep the last sound alert in memory"
With the new version 1.6, we can choose different sound alerts. However, when we open a new timer, the sound alert number one is selected by default. I would like Timer to keep my last choice for the next time.
In addition, for those who don't want any sound, this is also a good way (see request #19 ).

[2021-01-20 15:39] legissa opened #110 "Option to stay on top"
I would like an option to keep Timer on top of all windows. The badge on the Dock is fine but after some time, the countdown is refreshed every 10 or 15 seconds. Keeping the timer on top can be useful to get the timer always in sight.

[2021-01-20 16:41] karbassi commented on #110
Already a feature.

![Screen Shot 2021-01-20 at 10 40 53 AM](https://user-images.githubusercontent.com/17738/105206428-fcdc5c80-5b0b-11eb-86dc-0a9b632e9961.png)

[2021-01-20 16:41] #110 closed

[2021-01-20 16:43] karbassi commented on #109
Something to consider.

PRs welcome. Maybe @simongroenewolt, who implemented #107 ?

[2021-01-20 17:13] legissa opened #111 "Too much contrast in dark mode"
I find Timer's dark mode too contrasty, not pleasant to the eyes. The window frame is too black and the clock is still white. To be more in line with [Apple's visual design](https://developer.apple.com/design/human-interface-guidelines/macos/visual-design/dark-mode/), I suggest to brighten a little the window frame (not black but dark gray), lighten a bit more the ring around the clock, and use a

[2021-01-20 18:51] JolinM opened #112 "15, 30 and 45 minutes alignement"
**Describe the bug**
15, 30 and 45 minutes aren’t neatly aligned.

**Expected behavior**
To respect the same angle as a clock

**Screenshots**

![Capture d’écran, le 2021-01-20 à 13 48 03](https://user-images.githubusercontent.com/3504842/105220943-7123f980-5b26-11eb-99a9-5e23bb893fa7.png)

**Desktop (please complete the following information):**
 - OS version: macOS 11.1
 - Version 1.6.0

Love th

[2021-01-20 22:02] robinstewart commented on #112
This is a side effect of making sure that small, common increments of time at the beginning are easier to select — 10 seconds, 20 seconds... 1 min, 2 min... up to 5 min, which is significantly past where it would be on a clock. Then minutes 5 through 60 are fit into the remaining space.

Maybe a reasonable fix would be to fit minutes 5 through 30 into the remaining space _up to the "6-o-clock" pos

[2021-01-20 22:05] JolinM commented on #112
Oh, it totally make sense then!

That seems like an interesting compromise. Could work well. Otherwise, just keep it as is; it’s nothing _that_ shocking ;)

[2021-01-21 18:42] karbassi commented on #112
@robinstewart, i think that's a good idea. If you're up for it, I'll review the PR.

[2021-01-21 18:55] karbassi commented on #111
We could look into this. The radical suggestion isn't something I'm for, personally.

I'm open to suggestions.

[2021-01-21 20:01] JolinM commented on #112
What is PR…?

[2021-01-21 20:33] karbassi commented on #112
@JolinM, sorry for using tech jargon.

`PR` stands for **P**ull **R**equest.

Here's a quick video explaining it. https://www.youtube.com/watch?v=2VX1ISk9XH8

[2021-01-23 06:58] wojtekcz commented on #104
Timer 1.6 works for me too :-)

[2021-01-23 17:34] karbassi commented on #104
Thanks @legissa and @wojtekcz for confirming. Closing this issue.

[2021-01-23 17:34] #104 closed

[2021-01-23 17:50] karbassi commented on #103
For anyone that wants to take on the PR, the code to enable this feature is:

[code]

inside the [AppDelegate.swift](https://github.com/michaelvillar/timer-app/blob/master/Timer/AppDelegate.swift)

[2021-01-23 17:51] karbassi commented on #79
We could use https://github.com/sindresorhus/Preferences for this too.

[2021-01-23 23:32] robinstewart commented on #109
BTW @simongroenewolt if you're up for working on this, it's just a few lines of code — when the user changes the sound, you set that sound number to a key in `UserDefaults`; then when a new timer is created, you read it back out from `UserDefaults` instead of always choosing the first sound. (The `UserDefaults` framework does all the hard work of persisting to disk between sessions etc.)

[2021-01-24 01:26] karbassi commented on #109
@robinstewart Submit a PR! :)

[2021-01-28 16:00] phortuin commented on #95
Hate to bring this issue up again, but @peasarechic’s issue is still very much alive

![timer](https://user-images.githubusercontent.com/137299/106164280-13c52380-618a-11eb-85f2-8e60fc4e7662.gif)

This is on MacOS 11.1 (on a Macbook Air M1, to be exact).

[2021-01-28 21:50] karbassi commented on #95
@phortuin can you share what version of the app you're using?

[2021-02-01 08:38] phortuin commented on #95
@karbassi 1.6.0, installed via Homebrew

[2021-02-01 14:41] karbassi commented on #95
To pin-point the issue, could you uninstall and reinstall

[code]

[2021-02-04 11:11] phortuin commented on #95
Done, behaviour hasn't changed:

[code]

Specs have changed a bit since last time: MacOS 11.2 on a MacBook Air M1, using an external 4k screen at 1920×1080 (2× pixel ratio)

@karbassi I found something that is probably helpful: the intended behaviour works up to 4 minutes. If I drag up to 3:50, I can change the timer. If I drag over 4:00, I will drag the whole window.

Edit: I’m trying to pinpoint

[2021-02-08 09:10] U-ft opened #113 "no response"
when I've set a timer already, I drag the arrow to reduce its time and find there is no response whatever I click unless command+q.
environment: m1&big sur11.1

[2021-02-08 18:04] karbassi commented on #113
Duplicate of #95

[2021-02-08 18:04] #113 closed

[2021-02-12 06:36] qpwo opened #114 "Timer is not counting down"
MacOS 11.1 2015 MBP timer doesn't go when you hit go. Stops after one second. Nothing in logs if you run binary from command line.

https://user-images.githubusercontent.com/10591373/107737530-972a5d00-6cd2-11eb-8fe2-4fcad5a98127.mov

[2021-02-12 15:07] karbassi commented on #114
@qpwo that for the issue.

Can you press <kbd>spacebar</kbd> or <kbd>return</kbd> once it's paused to see if it start again?

Not stating that is the solution, but trying to see if it's related to the bug.

This also might be related to #95

[2021-02-15 22:42] qpwo commented on #114
Spacebar and return do not work

[2021-02-25 22:19] karbassi commented on #95
Update: I've taken about 2 hours to look into this but with no luck. It is broken in Big Sur (11.2.1) from my testing and probably broken in 11.2.x.

@robinstewart do you have time to take a look?

[2021-03-08 19:33] qpwo commented on #114
Mysteriously started working again

[2021-03-08 19:33] #114 closed

[2021-03-22 02:48] chastain opened #115 "Scroll wheel or gesture to increase or decrease timer"
I think it would be nice to be able to set a timer using either the scroll wheel or a gesture for the track padders. First couple timers I tried to set my instinct said to use the scroll wheel. Not sure if other folks would like that but the round interface implies to me that you can use your round peripheral to set.

[2021-03-22 08:38] skanagavelu opened #116 "Enhancement: It will be nice if the timer window has floating option"
It would nice to have the timer window keeps showing as a floating window with drag and drop.

[2021-03-22 14:16] karbassi commented on #116
Already an option. See this issue on how: #110

Duplicate  of #110

[2021-03-22 14:16] #116 closed

[2021-03-31 04:07] karbassi commented on #115
I like the idea.

[2021-04-09 10:14] MaxPower85 opened #117 "A Notifications Center widget for Catalina?"
I have not updated to Catalina yet, but since Catalina added those new widgets, I think it might be better if the development of this app went into that direction, since we will eventually have to upgrade to Catalina and it would be nice to have a replacement for the Minutes widget on it, since Catalina does not support Dashboard widgets.

[2021-04-09 10:55] MaxPower85 commented on #112
That doesn't sound like some "Mac-like solution" to me 😄 I mean, Apple generally seems to try to design the interface how someone expects it to work and if 5 or 10 or 30 minutes weren't where someone expected them to be on a clock, that would seem kind of unexpected...  also the original Minutes widget didn't do that... 5 minutes was at the equal distance from the center as 55 minutes was on the o

[2021-04-10 11:39] tiktuk opened #118 "Pause indication confusing"
A pause symbol is shown when the timer is paused which is the opposite of in (most?) music apps, where the pause symbol is shown when the music is playing. This has confused me a few time using the timer. Maybe show the text "Paused" instead?

[2021-04-11 12:12] yunus776 commented on #115
Şimdi ne olacak her hakkı kullandın ![image](https://user-images.githubusercontent.com/80426622/114303753-54211600-9ad8-11eb-90b2-a242e72b669e.jpeg)

[2021-04-11 12:14] yunus776 commented on #115
Gülsene yine he Gül şimdi yarın dosyalar la savcılığa gitmeyeni bak ne olsun uzak dur dedim sana dur madın bi ona bi bana iCloud aldın hepsinin parası bende öyle olmaz 3 dosya açacağım ahlak iftira hırsızlık

[2021-04-22 03:31] gousern commented on #19
Very cool. Volume control function looks like what I really need.

[2021-04-28 07:47] steveharman commented on #111
Hi!

So far I'm loving Timer - but I also find it a bit distracting - having a large black square on screen.

Related to this issue, have you considered either having colour options for the background or ideally - lowering the opacity when Timer isn't the foreground app?

Please see attached a screenshot of Timer alongside Pomy, on the right. Neither app is foregrounded.
(Pomy: https://apps.apple.

[2021-09-01 01:13] zzj0402 opened #120 "Cannot open app. System moved to Bin"
**Describe the bug**
Cannot open app.

**To Reproduce**
Steps to reproduce the behavior:
Click on Timer app

**Expected behavior**
Open the file

**Screenshots**
![image](https://user-images.githubusercontent.com/15345547/131595556-c3e7b773-8354-48a5-bb5c-472b7639454a.png)

 - OS version: macOS 11.5.1
 - Timer version 1.6.0

[2021-09-01 02:56] karbassi commented on #120
[Safely open apps on your Mac](https://support.apple.com/en-us/HT202491)

Duplicate of #97

[2021-09-01 02:56] #120 closed

[2021-10-21 16:15] arigit commented on #82
+1 on this. I use a 4K external monitor and the size of the timer is really tiny and hard to see.
Still useful though but a simple resizing/scaling would be super nice. Ideally the app would remember the last size setting and it would default to it on the next launch

[2021-12-02 03:38] FantaZZ opened #121 "Sound reset on restart app."
Sound reset on restart app.
Can not save my selected sound.

[2022-01-28 10:45] gabriellovate opened #122 "Make timer-app available via MacPorts"
**Is your feature request related to a problem? Please describe.**
Some users prefer to use MacPorts instead of Homebrew, thus it would be nice to be able to install the app via MacPorts.

**Describe the solution you'd like**
Make timer-app available on MacPorts.

**Describe alternatives you've considered**
The alternative for these people is to download the app directly from GitHub, but then the

[2022-01-31 01:49] karbassi commented on #122
@gabriellovate Thanks for the issue.

Anyone can add a PR to MacPorts. Submit a PR to the MacPorts repo. Instructions: https://guide.macports.org/chunked/project.contributing.html

[2022-01-31 01:49] #122 closed

[2022-02-25 12:50] jnnkB opened #123 "No timer notifications in sleep mode"
**Describe the bug**
If your computer goes to sleep you won't receive a notifications if the time is up.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a timer
2. Wait until your computer goes to sleep or press <kbd>Shift</kbd>+<kbd>Control</kbd>+<kbd>Eject</kbd>
3. Wait for the alarm
4. Nothing happens until you interact with your computer and it awakes from sleep.

**Expected behavi

[2022-03-10 23:47] insipidlight commented on #121
Possibly addressed in open pull request #119

[2022-05-10 10:16] solanoam commented on #105
would be useful for Raycast as well 😄

[2022-05-19 23:20] proksch commented on #115
I would also appreciate if some more mouse-centered interactions could be added to the app. Like..

- Click on wheel timer to pause
- Drag timer handle to change running timer
- Right-click to reset timer

I found this App when searching for a replacement for Minutes after upgrading to an macOS version that did not have a dashboard anymore. Even though I like some of the added keyboard shortcuts i

[2022-05-19 23:21] proksch commented on #51
+1

[2022-05-27 17:39] doneykoo commented on #21
Any update for this?
That'll be a quality of life.

I'm also thinking, wishing if the menu bar widget can:
* Show with icon of different colors for running/paused/stopped state, and with countdown-time text.
* popup menu-item to quick restart / pause / stop the timer
* popup menu-item to quick run some preset time-length timer, like 25m, 15m, 5m.
  * (would be better to be configurable, each can b

[2022-06-03 13:37] khofstadter opened #124 "Could it could the amount of times it reached 0?"
Hi!

I don't have any issues with the app, it's pretty cool. Thanks for making it!

I restart it several times throughout the day, but I am not exactly sure how often. I could take note of how often I restart it in a file or a piece of paper, but... it would be cool to see a value incrementing on the GUI e.g. arabic, roman or some funky alien numbers :)

![1472161235_Untitled-pred](https://user-im

[2022-06-03 15:47] karbassi commented on #124
Hello @khofstadter From the gif you posted, I think you may have the wrong github repo project.

[2022-06-03 15:47] #124 closed

[2022-06-03 21:30] khofstadter commented on #124
He-he! Thanks. It's the right repo, I was kinda joking with the predator numbers. To clarify:

![Screenshot_2022-06-03_at_22_28_31](https://user-images.githubusercontent.com/290828/171955859-ee424232-48c6-4b3b-88ed-43ca4edf1ff6.jpg)

[2022-06-09 21:39] Kerrick commented on #23
According to https://developer.apple.com/design/human-interface-guidelines/inputs/pointing-devices/#pointers I believe that openHand (when hovering over the draggable triangle), and closedHand (when dragging the triangle) would be the most appropriate, since you're dragging to reposition the triangle.